footer {
  background-color: pink;

  display: table;
  width: 100%;

  text-align: center;
  vertical-align: center;
}

footer div {
  display: table-cell;
  vertical-align: middle;
}

footer p {
  display: inline;
  margin: 32px;
}

/*
 *  Sticky Footer by Ryan Fait
 *  http://ryanfait.com/
 */

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -64px;
}

footer, .push {
  height: 64px;
}
