header {
  background-color: pink;

  text-align: center;

  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 64px;

  box-shadow: 5px 5px 5px #888888;
}

.hide {
  display: none;
}

#accept-cookies {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 8px;
  height: 24px;
  box-shadow: 5px 5px 5px #888888;
}

#accept-cookies:hover {
  cursor: pointer;
}

nav li {
  display: inline;
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li:hover {
  background-color: pink;
  color: white;
  transition: background-color 200ms linear;
}
