header {
  background-color: red;

  text-align: center;

  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 80px;

  box-shadow: 5px 5px 5px #888888;
}

nav li {
  display: inline;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 6px;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: red;

  display: table;
  width: 100%;

  text-align: center;
  vertical-align: center;
}

footer div {
  display: table-cell;
  vertical-align: middle;
}

footer p {
  display: inline;
  margin: 32px;
}

/*
 *  Sticky Footer by Ryan Fait
 *  http://ryanfait.com/
 */

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -64px;
}

footer, .push {
  height: 64px;
}
