header {
  background-color: red;

  text-align: center;

  padding-top: 16px;
  padding-bottom: 16px;

  margin-bottom: 32px;
}

footer {
  background-color: red;

  display: table;
  height: 64px;
  width: 100%;

  margin-top: 32px;
  text-align: center;
  vertical-align: center;
}

footer div {
  display: table-cell;
  vertical-align: middle;
}

footer p {
  display: inline;
  margin: 32px;
}
