body {
  background-image: url("../images/mars.png");
  background-repeat: repeat;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

main {
  background-color: white;

  box-shadow: 5px 5px 5px #888888;

  border: 2px solid grey;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  padding: 16px;
  margin-bottom: 64px;
}

.hide {
  display: none;
}

#accept-cookies {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 8px;
  height: 24px;
  box-shadow: 5px 5px 5px #888888;
}

#accept-cookies:hover {
  cursor: pointer;
}
